header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px;
    background-color: var(--secondary-color);
}

li {
    list-style: none;
}

.desktop-navbar{
    display: none;
}

.modal-navbar {
    display: none;
}

@media (min-width: 992px){
    header {
        height: 112px;
        border-bottom: 1px solid var(--main-color);
    }
}